<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=0.75">
    <title>Alerto - Dashboard</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link href="css/packages/uikit.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    
    <script src="packages/jquery-1.11.3.min.js"></script>
    <script src="packages/uikit.min.js"></script>
    <script src="packages/uikit-icons.min.js"></script>

  </head>
  <body>

  <div id="sideNav">
    <div id="logocontainer">
      <img class="uk-position-center" src="img/logo.png" alt="Recupero">
    </div>
    <div class="uk-flex uk-flex-column sideButtons">

      <a href="/dashboard">
        <div class="sidebtn">
          <span uk-icon="icon: home" class="uk-margin-small-right uk-icon">
          </span>
          Dashboard
        </div>
      </a>

      <a href="/manage">
        <div class="sidebtn">
          <span uk-icon="icon: list" class="uk-margin-small-right uk-icon">
          </span>
          Gestionare rau-platnici
        </div>
      </a>

      <a href="/info">
        <div class="sidebtn">
          <span uk-icon="icon: question" class="uk-margin-small-right uk-icon">
          </span>
          Ajutor
        </div>
      </a>

      <a href="/logout">
        <div class="sidebtn" id="logout">
          <span uk-icon="icon: sign-out" class="uk-margin-small-right uk-icon">
          </span>
          Logout
        </div>
      </a>

    </div>
  </div>

  <div id="centralContainer">

    <div id="topNav">

      <a href="/manage">
        <div class="topNavButton topNavLink" id="topManageBtn">
          <span uk-icon="icon: list; ratio:1.4" class="uk-icon"></span>
        </div>
      </a>
      <a href="/info">
        <div class="topNavButton topNavLink" id="topSettingsBtn">
          <span uk-icon="icon: question; ratio:1.4" class="uk-icon"></span>
        </div>
      </a>
      <div class="topNavButton" id="registerCompanyBtn">
        <button class="send uk-button uk-button-danger" id="regBtn" uk-toggle="target: #loadCompanies">Inregistreaza rau-platnic</button>
      </div>

    </div>

    <div id="contentContainer">

      <div uk-spinner id="spinnerLoader" class="uk-position-center" style="height:100px;width:100px;"></div>

      <div id="content">

        <h2 class="uk-text-center uk-margin-large-top uk-margin-large-bottom" uk-scrollspy="cls:uk-animation-slide-top">
          Bun venit!<br>Puteti folosi bara de mai jos pentru a cauta companii!
        </h2>
        <form class="uk-search uk-search-default searchContainer" uk-scrollspy="cls:uk-animation-slide-top" action="javascript:void(0);">
          <span uk-search-icon></span>
          <input id="searchInput" class="uk-search-input searchBar" type="search" placeholder="Cautati rau-platnici dupa nume sau CUI">
          <button id="searchCompany" class="searchButton uk-button uk-button-primary">Cauta</button>
        </form>

        <div id="vueApp" class="boxContent">
          <div class="box uk-card uk-card-body uk-card-default accountInfo cardSplitted uk-margin-medium-top" uk-scrollspy="cls:uk-animation-slide-bottom">
            <div class="uk-card-title">
              Informatii despre cont
            </div>
            <hr>
            <div class="dashInfo">
              <div class="dashPersonalInfo">
                <div class="dashPersonalInfoName">
                  Numele Companiei: {{personalData.nume}}
                </div>
                <div class="dashPersonalCUI">
                  CUI: {{personalData.cui}}
                </div>
                <div class="dashPersonalAddress">
                  Adresa: {{personalData.address}}
                </div>
                <div class="dashPersonalPhone">
                  Numar de telefon: {{personalData.phone}}
                </div>
                <div class="dashPersonalCAEN">
                  CAEN: {{personalData.caen}}
                </div>
              </div>
            </div>
          </div>
          <div class="box uk-card uk-card-body uk-card-default personalInfo cardSplitted uk-margin-medium-top" uk-scrollspy="cls:uk-animation-slide-bottom">
            <div class="uk-card-title">
              Informatii personale
            </div>
            <hr>
            <div class="dashInfo">
              <div class="dashPersonalInfo">
                <div class="dashPersonalInfoName">
                  Numele Utilizatorului: {{personalData.personalName}}
                </div>
                <div class="dashPersonalCUI">
                  Adresa e-mail: {{personalData.email}}
                </div>
                <div class="dashPersonalAddress" style="margin-top:4px;">
                  Statusul contului:
                  <span v-if="personalData.isConfirmed" style="color:rgb(130, 122, 244); font-size:20px;"> Premium </span>
                  <span v-if="!personalData.isConfirmed" style="color:rgb(222, 67, 84); font-size:20px;"> Ne-activat </span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="loadCompanies" class="uk-modal-container" uk-modal="center: true">
        <div class="uk-modal-dialog uk-modal-body">
          <button class="uk-modal-close-default" type="button" uk-close></button>
          <div class="uk-modal-header">
              <div class="uk-modal-title">Inregistreaza rau-platnic</div>
          </div> 
          <div class="uk-grid uk-grid-divider uk-child-width-expand@s" uk-grid>
            <div id="#manualCompanyLoader" class="formBox" style="padding-right: 10px;margin-right: -20px;">
              
              <h2>Incarcati Manual</h2>
              <hr>
              <div class="explainBox uk-margin-small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc dui, varius vitae ullamcorper aliquam, placerat id sapien. Nullam a porttitor nulla. Morbi ullamcorper, justo sed convallis hendrerit, erat urna congue libero, ut volutpat nibh enim id ex. Nulla facilisi. Mauris congue diam vel magna vulputate sollicitudin. Mauris justo dui, laoreet sed purus nec, iaculis volutpat elit. Vivamus non varius massa, eu ullamcorper lacus.
              </div>

              <div id="statusManual"></div>

              <form class="insideBox uk-form-stacked uk-width-1-1" action="javascript:void(0);">
                <div class="uk-inline">
                  <span class="uk-form-icon" uk-icon="icon: tag"></span>
                  <input id="cuiReclamat" class="uk-input uk-width-large" type="text" placeholder="Introduceti CUI-ul debitorului"/>
                </div>

                <div class="uk-inline">
                  <span class="uk-form-icon" uk-icon="icon: social"></span>
                  <input id="numeReclamat" class="uk-input uk-width-large" type="text" placeholder="Introduceti denumirea debitorului"/>
                </div>

                <div class="uk-inline">
                  <span class="uk-form-icon" uk-icon="icon: hashtag"></span>
                  <input id="idFactura" class="uk-input uk-width-large" type="text" placeholder="Seria facturii declarate"/>
                </div>

                <div class="uk-inline">
                  <span class="uk-form-icon" uk-icon="icon: database"></span>
                  <input id="valoare" class="uk-input uk-width-large" type="text" placeholder="Valoarea totala"/>
                </div>

                <div class="uk-inline">
                  <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                  <input id="data" class="uk-input uk-width-large" type="text" placeholder="Data scadentei"/>
                </div>

                <div class="uk-inline radioBox">
                  <div class="uk-form-label">Debitorul contesta factura?</div>
                  <div class="uk-form-controls">
                      <label><input class="uk-radio" type="radio" name="radio1" id="verifNo"> Nu</label><br>
                      <label><input class="uk-radio" type="radio" name="radio1" id="verifDa"> Da, acesta a contestat factura in instanta</label><br>
                      <label><input class="uk-radio" type="radio" name="radio1" id="verifDaPlus"> Da, dar factura nu a fost contestata in instanta pana in prezent</label>
                  </div>
                </div>

                <button class="send uk-button uk-button-danger" id="send_reclamatie" style="margin-top:30px;">Reclamati compania</button>
              </form>
              
            </div>
            <div id="#excelCompanyLoader" class="formBox">
              
              <h2>Incarcati prin Excel</h2>
              <hr>
              <div class="explainBox uk-margin-small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc dui, varius vitae ullamcorper aliquam, placerat id sapien. Nullam a porttitor nulla. Morbi ullamcorper, justo sed convallis hendrerit, erat urna congue libero, ut volutpat nibh enim id ex. Nulla facilisi. Mauris congue diam vel magna vulputate sollicitudin. Mauris justo dui, laoreet sed purus nec, iaculis volutpat elit. Vivamus non varius massa, eu ullamcorper lacus.
              </div>
              <h4>Selectati fisierul excel din care sa incarcati rau-platnicii</h4>
<!--               <div class="excel-upload uk-placeholder uk-text-center">
                <div uk-form-custom>
                  <form id="uploadExcelForm" enctype="multipart/form-data" method="post">
                    <input id="file" name="file" type="file">
                  </form>
                  <div uk-icon="icon: cloud-upload; ratio:2" style="margin-bottom:10px;"></div>
                  <div class="uk-text-middle">Dati click si selectati sau trageti peste dreptunghi excel-ul cu rau-platnicii</div>
                </div>
              </div> -->
              <form id="test2" enctype="multipart/form-data" action="javascript:void(0);" method="post">
                  <input id="file2" name="file" type="file" />
                  <input id="test2btn" type="submit"/>
              </form>
              <progress id="progressbar" class="uk-progress" value="0" max="100" hidden></progress>

              <div id="statusAuto"></div>

            </div>
          </div>

        </div>
    </div>
    
  </div>

  <script src="js/dashboard-ui.js"></script>
  <script src="vue/vue.js"></script>
  <script src="vue/vue-resource.js"></script>
  <script src="vue/dash.js"></script>


  </body>
</html>