<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=0.75">
    <title>Recupero - Sign Up</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link href="css/packages/uikit.min.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">

    <script src="packages/jquery-1.11.3.min.js"></script>
    <script src="packages/uikit.min.js"></script>
    <script src="packages/uikit-icons.min.js"></script>

  </head>
  <body>
    
    <div class="topbar">
      <div class="topbox logobox">
        <img src="img/logo.png" alt="Recupero">
      </div>
      <div class="topbox linkbox">
        <a href="/">Pagina principala</a>
        <a href="/login" class="round-button-link">Login</a>
      </div>
    </div>

    <div class="formBox uk-card uk-card-default uk-card-body uk-width-1-2@m" id="registerForm">

      <div id="initialRegisterBox" class="insideBox" style="padding-left:75px;padding-right:75px;">

        <h1 class="uk-card-title">Inregistrare</h1>

        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input id="name" class="uk-input uk-width-medium" type="text" placeholder="Introduceti un nume de utilizator"/>
        </div>

        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: mail"></span>
          <input id="email" class="uk-input uk-width-medium" type="email" placeholder="Email-ul dumneavoastra"/>
        </div>

        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input id="pass1" class="uk-input uk-width-medium" type="password" placeholder="Parola dorita"/>
        </div>

        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input id="pass2" class="uk-input uk-width-medium" type="password" placeholder="Re-introduceti parola"/>
        </div>

        <button class="send uk-button uk-button-danger" type="submit" id="sign_up_first_step" style="margin-top:30px;">Urmatorul pas</button>

        <div id="status"></div>

      </div>
     
      <div id="finalRegisterBox" class="insideBox" style="padding-left:75px;padding-right:75px;">

        <h1 class="uk-card-title">Informatii Companiei Dvs.</h1>

        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: social"></span>
          <input id="denumcomp" class="uk-input uk-width-medium" type="text" placeholder="Denumirea companiei Dvs."/>
        </div>

        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: tag"></span>
          <input id="cui" class="uk-input uk-width-medium" type="text" placeholder="CUI-ul companiei Dvs."/>
        </div>

        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: location"></span>
          <input id="address" class="uk-input uk-width-medium" type="text" placeholder="Introduceti adresa companiei Dvs."/>
        </div>

        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: phone"></span>
          <input id="number" class="uk-input uk-width-medium" type="text" placeholder="Nr. de telefon al companiei Dvs."/>
        </div>

        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: hashtag"></span>
          <input id="caen" class="uk-input uk-width-medium" type="text" placeholder="CAEN-ul companiei Dvs."/>
        </div>

        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: code"></span>
          <input id="token" class="uk-input uk-width-medium" type="text" placeholder="Token de verificare"/>
        </div>

        <button class="send uk-button uk-button-danger" type="submit" id="sign_up" style="margin-top:30px;">Depuneti Cerere</button>
        <button class="send uk-button uk-button-primary" type="submit" id="sign_up_go_back">Pasul Anterior</button>

        <div id="status"></div>

      </div>

    </div>

    <script src="js/basic-ui.js"></script>

  </body>
</html>