<!DOCTYPE html>
<html>
<head>
	<title>Report nub</title>
    <script src="packages/jquery-1.11.3.min.js"></script>
</head>
<body>


          <div>
            <div>
              <!-- <div class="registertitle">Login</div> -->
              <input id="cui" type="text" placeholder="CUI"/>
              <input id="idFactura" type="text" placeholder="idFactura"/>
              <input id="dateRegistered" type="text" placeholder="dateRegistered"/>
              <input id="amount" type="text" placeholder="amount"/>
              <button type="submit" id="report" class="send">Report</button>
            </div>
            <div id="status" align="center"></div>
          </div>



    <script src="js/basic-ui.js"></script>
</body>
</html>