<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=0.75">
    <title>Alerto  - Search</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link href="css/packages/uikit.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    
    <script src="packages/jquery-1.11.3.min.js"></script>
    <script src="packages/uikit.min.js"></script>
    <script src="packages/uikit-icons.min.js"></script>

  </head>
  <body>

  <div id="sideNav">
    <div id="logocontainer">
      <img class="uk-position-center" src="img/logo.png" alt="Recupero">
    </div>
    <div class="uk-flex uk-flex-column sideButtons">

      <a href="/dashboard">
        <div class="sidebtn">
          <span uk-icon="icon: home" class="uk-margin-small-right uk-icon">
          </span>
          Dashboard
        </div>
      </a>

      <a href="/manage">
        <div class="sidebtn">
          <span uk-icon="icon: list" class="uk-margin-small-right uk-icon">
          </span>
          Gestionare rau-platnici
        </div>
      </a>

      <a href="/info">
        <div class="sidebtn">
          <span uk-icon="icon: question" class="uk-margin-small-right uk-icon">
          </span>
          Ajutor
        </div>
      </a>

      <a href="/logout">
        <div class="sidebtn">
          <span uk-icon="icon: sign-out" class="uk-margin-small-right uk-icon">
          </span>
          Logout
        </div>
      </a>

    </div>
  </div>

  <div id="centralContainer">

    <div id="topNav">

      <a href="/manage">
        <div class="topNavButton topNavLink" id="topManageBtn">
          <span uk-icon="icon: list; ratio:1.4" class="uk-icon"></span>
        </div>
      </a>
      <a href="/info">
        <div class="topNavButton topNavLink" id="topSettingsBtn">
          <span uk-icon="icon: question; ratio:1.4" class="uk-icon"></span>
        </div>
      </a>
      <div class="topNavButton" id="registerCompanyBtn">
        <button class="send uk-button uk-button-danger" id="regBtn" uk-toggle="target: #loadCompanies">Inregistreaza rau-platnic</button>
      </div>

    </div>

    <div id="contentContainer">

      <div id="spinnerLoader" uk-spinner class="uk-position-center" style="height:100px;width:100px;"></div>
      
      <div id="content">


        <form class="uk-search uk-search-default searchContainer" action="javascript:void(0);">
          <span uk-search-icon></span>
          <input id="searchInput" class="uk-search-input searchBar" type="search" placeholder="Cautati rau-platnici dupa nume sau CUI">
          <button id="searchCompany" class="searchButton uk-button uk-button-primary">Cauta</button>
        </form>
        <div id="vueApp" class="box uk-card uk-card-body uk-card-default dashBadcompanyList" uk-scrollspy="cls:uk-animation-fade-fast">
          <div class="uk-card-title">
            Reclamatii depuse
          </div>
          <hr>
          <h3 v-if="companiesLoaded.length==0" style="text-align:center;margin-top:60px;margin-bottom:40px;">
            Nu exista companii inregistrate cu denumirea sau CUI-ul: {{currentSearch}}.
          </h3>
          <div v-if="companiesLoaded.length">
            <table class="uk-table uk-table-divider uk-table-hover uk-overflow-auto uk-table-responsive badCompanyTable">
              <tr>
                <th>CUI</th>
                <th>Denumirea companiei</th>
                <th>Vechimea datoriei</th>
                <th>Valoarea datoriei</th>
                <th>CAEN reclamant</th>
              </tr>
              <tr v-for="companie in companiesLoaded">
                <td>{{companie.cuiReclamat}}</td>
                <td>{{companie.reclamat}}</td>
                <td>{{companie.dateRegistered}}</td>
                <td>{{companie.amount}}</td>
                <td>{{companie.caenReclamant}}</td>
              </tr>
            </table>

            <ul class="uk-pagination uk-flex-center" uk-margin>
                <li v-if="currentPage>1"><a v-bind:href="'/search/'+currentSearchLink+'/'+(currentPage-1)"><span uk-pagination-previous></span></a></li>
                <li v-if="currentPage>2"><a v-bind:href="'/search/'+currentSearchLink+'/1'">1</a></li>
                <li class="uk-disabled" v-if="currentPage>3"><span>...</span></li>
                <li v-if="currentPage>1"><a v-bind:href="'/search/'+currentSearchLink+'/'+(currentPage-1)">{{currentPage-1}}</a></li>
                <li class="uk-active"><span>{{currentPage}}</span></li>
                <li v-if="currentPage<companiesFinalPage"><a v-bind:href="'/search/'+currentSearchLink+'/'+(currentPage+1)">{{currentPage+1}}</a></li>
                <li class="uk-disabled" v-if="currentPage<(companiesFinalPage-2)"><span>...</span></li>
                <li v-if="currentPage<(companiesFinalPage-1)"><a v-bind:href="'/search/'+currentSearchLink+'/'+companiesFinalPage">{{companiesFinalPage}}</a></li>
                <li v-if="currentPage<companiesFinalPage"><a v-bind:href="'/search/'+currentSearchLink+'/'+(currentPage+1)"><span uk-pagination-next></span></a></li>
            </ul>
          </div>

        </div>

      </div>
    </div>

    <div id="loadCompanies" class="uk-modal-container" uk-modal="center: true">
        <div class="uk-modal-dialog uk-modal-body">
          <button class="uk-modal-close-default" type="button" uk-close></button>
          <div class="uk-modal-header">
              <div class="uk-modal-title">Inregistreaza rau-platnic</div>
          </div> 
          <div class="uk-grid uk-grid-divider uk-child-width-expand@s" uk-grid>
            <div id="#manualCompanyLoader" class="formBox" style="padding-right: 10px;margin-right: -20px;">
              
              <h2>Incarcati Manual</h2>
              <hr>
              <div class="explainBox uk-margin-small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc dui, varius vitae ullamcorper aliquam, placerat id sapien. Nullam a porttitor nulla. Morbi ullamcorper, justo sed convallis hendrerit, erat urna congue libero, ut volutpat nibh enim id ex. Nulla facilisi. Mauris congue diam vel magna vulputate sollicitudin. Mauris justo dui, laoreet sed purus nec, iaculis volutpat elit. Vivamus non varius massa, eu ullamcorper lacus.
              </div>

              <form class="insideBox uk-form-stacked uk-width-1-1" action="">
                <div class="uk-inline">
                  <span class="uk-form-icon" uk-icon="icon: tag"></span>
                  <input id="cuiReclamat" class="uk-input uk-width-large" type="text" placeholder="Introduceti CUI-ul debitorului"/>
                </div>

                <div class="uk-inline">
                  <span class="uk-form-icon" uk-icon="icon: social"></span>
                  <input id="numeReclamat" class="uk-input uk-width-large" type="text" placeholder="Introduceti CUI-ul debitorului"/>
                </div>

                <div class="uk-inline">
                  <span class="uk-form-icon" uk-icon="icon: hashtag"></span>
                  <input id="idFactura" class="uk-input uk-width-large" type="text" placeholder="Seria facturii declarate"/>
                </div>

                <div class="uk-inline">
                  <span class="uk-form-icon" uk-icon="icon: database"></span>
                  <input id="valoare" class="uk-input uk-width-large" type="text" placeholder="Valoarea totala"/>
                </div>

                <div class="uk-inline">
                  <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                  <input id="data" class="uk-input uk-width-large" type="text" placeholder="Data scadentei"/>
                </div>

                <div class="uk-inline radioBox">
                  <div class="uk-form-label">Debitorul contesta factura?</div>
                  <div class="uk-form-controls">
                      <label><input class="uk-radio" type="radio" name="radio1"> Nu</label><br>
                      <label><input class="uk-radio" type="radio" name="radio1"> Da, acesta a contestat factura in instanta</label><br>
                      <label><input class="uk-radio" type="radio" name="radio1"> Da, dar factura nu a fost contestata in instanta pana in prezent</label>
                  </div>
                </div>

                <button class="send uk-button uk-button-danger" type="submit" id="" style="margin-top:30px;">Reclamati compania</button>
              </form>

              <div id="statusManual"></div>
              
            </div>
            <div id="#excelCompanyLoader" class="formBox">
              
              <h2>Incarcati prin Excel</h2>
              <hr>
              <div class="explainBox uk-margin-small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc dui, varius vitae ullamcorper aliquam, placerat id sapien. Nullam a porttitor nulla. Morbi ullamcorper, justo sed convallis hendrerit, erat urna congue libero, ut volutpat nibh enim id ex. Nulla facilisi. Mauris congue diam vel magna vulputate sollicitudin. Mauris justo dui, laoreet sed purus nec, iaculis volutpat elit. Vivamus non varius massa, eu ullamcorper lacus.
              </div>
              <h4>Selectati fisierul excel din care sa incarcati rau-platnicii</h4>
              <div class="excel-upload uk-placeholder uk-text-center">
                <div uk-form-custom>
                  <input type="file">
                  <div uk-icon="icon: cloud-upload; ratio:2" style="margin-bottom:10px;"></div>
                  <div class="uk-text-middle">Dati click si selectati sau trageti peste dreptunghi excel-ul cu rau-platnicii</div>
                </div>
              </div>
              <progress id="progressbar" class="uk-progress" value="0" max="100" hidden></progress>

              <div id="statusAuto"></div>

            </div>
          </div>

        </div>
    </div>
    
  </div>

  <script src="js/dashboard-ui.js"></script>
  <script src="vue/vue.js"></script>
  <!-- <script src="vue/vue-router.js"></script> -->
  <script src="vue/vue-resource.js"></script>
  <script src="vue/search.js"></script>

  </body>
</html>