$mainclralt: #a63232;
$mainclr: #d77a61;

$mainclraltshade:    #a63232;
$mainclrshadow:   #760202;
$mainclrshade: #b75a41;

$lightgrey: #3c3c3c;
$midgrey: #2B2B2B;
$darkgrey: #222;
$cartoongrey: #333;

$menublue: #2c3e50;
$menublue-light: #34495e;

$scrollbartrack:  rgba(0,0,0,0.08);

$coolorange: #d77a61;

$lightwhite: #fefefe;
$cloudwhite: #ecf0f1;
$silverwhite: #bdc3c7;
$asbestoswhite: #7f8c8d; //Need to turn this into asbestosgrey

$reddangerbtn: #f0506e;
$blueprimarybtn: #1e87f0;

//Other Cool Colors (Mainly for gradients)
$cream: rgb(237,172,125);
$skyblue: rgb(49,183,215);
$creampink: rgb(228,125,125);
$blueberry: rgb(193,149,211);
//Other Cool Colors (Mainly for gradients)