$mainclralt: #a63232;
$mainclr: #d77a61;

$mainclraltshade:    #a63232;
$mainclrshadow:   #760202;
$mainclrshade: #b75a41;

$lightgrey: #3c3c3c;
$midgrey: #2B2B2B;
$darkgrey: #222;
$cartoongrey: #333;

$menublue: #2c3e50;
$menublue-light: #34495e;

$scrollbartrack:  rgba(0,0,0,0.08);

$coolorange: #d77a61;

$cloudwhite: #ecf0f1;
$silverwhite: #bdc3c7;
$asbestoswhite: #7f8c8d;